@model CinelAirMiles.Models.TransactionViewModel


<div id="Purchase">
    <div><h2>Extend Miles</h2></div>
    <div class="row">
        <form method="post" asp-action="ExtendMiles">
            <input type="hidden" asp-for="Type" />
            <label asp-for="Value">Miles to extend</label>
            <div class="form-group">
                <input type="text" asp-for="Value" name="Value" required />
                <span asp-validation-for="Value"></span>
            </div>
            <label asp-for="Price"></label>
            <div class="form-group">
                <input type="number" asp-for="Price" name="price" readonly />
                <span asp-validation-for="Price"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success">Extend</button>
            </div>
        </form>
    </div>
</div>

