@model CinelAirMiles.Models.TransactionViewModel


<div id="Transfer">
    <div><h2>New Transfer</h2></div>
    <div class="row">
        <form method="post" asp-action="TranferMiles">
            <input type="hidden" asp-for="Type" />
            <label asp-for="TransferTo">Client Id you want to transfer to</label>
            <div class="form-group">
                <input type="number" asp-for="TransferTo" name="value" required />
                <span asp-validation-for="TransferTo"></span>
            </div>
            <div class="form-group">
                <label asp-for="Value"></label>
                <input type="text" asp-for="Value" name="value" required />
                <span asp-validation-for="Value"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input type="number" asp-for="Price" name="price" readonly />
                <span asp-validation-for="Price"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success">Transfer</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
