

<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#">
        <i class="fas fa-comments"></i>
        <span class="badge badge-danger navbar-badge">3</span>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <a href="#" class="dropdown-item">
            <!-- Message Start -->
            <div class="media">
                <img src="" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                <div class="media-body">
                    <h3 class="dropdown-item-title">
                        Brad Diesel
                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                    </h3>
                    <p class="text-sm">Call me whenever you can...</p>
                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                </div>
            </div>
            <!-- Message End -->
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
    </div>
</li>
<!-- Notifications Dropdown Menu -->
<li class="nav-item dropdown">
    <a class="nav-link" data-toggle="dropdown" href="#" id="notify_icon">
        <i class="far fa-bell"></i>
    </a>
    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" id="notify_list">
        
    </div>
</li>

<script type="text/javascript">

    window.addEventListener("load",function() {
        $.ajax({
            url: "/Notifications/GetNotificationsByRole",
            type: "GET",
            dataType: "json",
            success: function (list) {
                let span = `<span class="badge badge-warning navbar-badge">${list['length']}</span>`;
                byID("notify_icon").innerHTML += span;
            },
            error: function (err) {
                console.log(err);
            }
        })

        $.ajax({
            url: "/Notifications/GetPremiumNotifications",
            type: "GET",
            dataType: "json",
            success: function (result) {
                let div = "";
                if (result.count > 0) {
                    if (result.userType === "SuperUser") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/SuperUser/PremiumOfferList">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Offer(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    }
                    else if (result.userType === "User") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/User/PremiumIndex">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Offer(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    }
                    
                    byID("notify_list").innerHTML += div;
                }
            },
            error: function (err) {
                console.log(err);
            }
        })

        $.ajax({
            url: "/Notifications/GetPartnerNotifications",
            type: "GET",
            dataType: "json",
            success: function (result) {
                let div = "";
                if (result.count > 0) {
                    if (result.userType === "SuperUser") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/SuperUser/PartnerReferences">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Partner(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    } else if(result.userType === "User") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/User/PartnerIndex">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Partner(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    }
                    byID("notify_list").innerHTML += div;
                }
            },
            error: function (err) {
                console.log(err);
            }
        })

        $.ajax({
            url: "/Notifications/GetAdvertisingNotifications",
            type: "GET",
            dataType: "json",
            success: function (count) {
                let div = "";
                if (count > 0) {
                    if (result.userType === "SuperUser") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/SuperUser/Advertising">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Advert(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    } else if (result.userType === "User") {
                        div = `<div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/User/NewsIndex">
                                <i class="fas fa-warning mr-2"></i> ${result.count} new Advert(s)
                            </a>
                            <div class="dropdown-divider"></div>`;
                    }
                    byID("notify_list").innerHTML += div;
                }
            },
            error: function (err) {
                console.log(err);
            }
        })
    })
</script>