@model MilesBackOffice.Web.Models.EditUserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Miles Tests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <!-- bootstrap-css -->
    <link rel="stylesheet" href="~/template/css/bootstrap.min.css">
    <!-- //bootstrap-css -->
    <!-- Custom CSS -->
    <link href="~/template/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/template/css/style-responsive.css" rel="stylesheet" />
    <!-- font CSS -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <!-- font-awesome icons -->
    <link rel="stylesheet" href="~/template/css/font.css" type="text/css" />
    <link href="~/template/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/template/css/morris.css" type="text/css" />
    <!-- calendar -->
    <link rel="stylesheet" href="~/template/css/monthly.css">
    <!-- //calendar -->
    <!-- //font-awesome icons -->
    <script src="~/template/js/jquery2.0.3.min.js"></script>
    <script src="~/template/js/raphael-min.js"></script>
    <script src="~/template/js/morris.js"></script>
</head>

<body>

    <span asp-validation-for="Name"></span>
    <input asp-for="Name" type="text" class="ggg" name="FirstName" placeholder="First Name">


    <span asp-validation-for="Address"></span>
    <input asp-for="Address" type="text" class="ggg" name="Address" placeholder="Address">

    <span asp-validation-for="DateOfBirth"></span>
    <input asp-for="DateOfBirth" type="date" class="ggg" name="DateOfBirth" placeholder="Date Of Birth">

    <span asp-validation-for="CountryId"></span>
    <select asp-for="CountryId" asp-items="@Model.Countries" class="form-control"></select>

    <span asp-validation-for="CityId"></span>
    <select asp-for="CityId" asp-items="@Model.Cities" class="form-control"></select>


    <span asp-validation-for="PhoneNumber"></span>
    <input asp-for="PhoneNumber" type="text" class="ggg" name="PhoneNumber" placeholder="Phone Number" pattern="\d{9}">

    <script src="~/template/js/bootstrap.js"></script>
    <script src="~/template/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="~/template/js/scripts.js"></script>
    <script src="~/template/js/jquery.slimscroll.js"></script>
    <script src="~/template/j~/template/s/jquery.nicescroll.js"></script>
    <!--[if lte IE 8]><script language="javascript" type="text/javascript" src="~/template/js/flot-chart/excanvas.min.js"></script><![endif]-->
    <script src="~/template/js/jquery.scrollTo.js"></script>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#CityId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCitiesAsync")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (cities) {
                        debugger;
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}

