
@{ 
    ViewData["Title"] = "Miles Premium Shop";
}

<div id="finder_premium">
    <h2>Find a promotion</h2>
    <div class="form-inline">
        <div>
            <label>Departure <i class="fas fa-plane"></i></label>
            <input type="text" />
        </div>
        <div>
            <label>Destination <i class="fas fa-plane"></i></label>
            <input type="text"/>
        </div>
        <div>
            <a href="">Search</a>
        </div>
    </div>
</div>
<div id="result">

</div>

<div id="promotions">
    
</div>