@model MilesBackOffice.Web.Models.PremiumOfferViewModel


<div id="newVoucher">
    <div><h2>New Premium Voucher</h2></div>
    <div class="row">
        <form method="post" asp-action="CreateOffer" >
            <input type="hidden" asp-for="Type" />
            <div class="form-group">
                <label asp-for="Title"></label>
                <input type="text" asp-for="Title" name="title" required />
                <span asp-validation-for="Title"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartnerId"></label>
                <select type="text" asp-for="PartnerId" asp-items="Model.PartnersList" required ><option value="">Select a Partner</option></select>
                <span asp-validation-for="PartnerId"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conditions"></label>
                <textarea type="text" asp-for="Conditions" name="conditions" required ></textarea>
                <span asp-validation-for="Conditions"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input type="number" asp-for="Quantity" name="quantity" required min="1" value="1" />
                <span asp-validation-for="Quantity"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input type="number" asp-for="Price" name="price" required min="0" />
                <span asp-validation-for="Price"></span>
            </div>
            <button type="submit" class="btn btn-outline-success">Create</button>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
