@model MilesBackOffice.Web.Models.PremiumOfferViewModel

<div id="newTicket">
    <div><h2>New Premium Ticket</h2></div>
    <form method="post" asp-action="CreateOffer" id="form_ticket">
        <input type="hidden" asp-for="Type" />
        <label asp-for="Title"></label>
        <div class="form-group">
            <input type="text" asp-for="Title" required name="title" />
        </div>
        <label>Flight Company</label>
        <div class="form-group">
            <select asp-for="PartnerId" required asp-items="Model.PartnersList" onchange="GetFlights()"><option value="">Select...</option></select>
        </div>
        <label asp-for="FlightId"></label>
        <div class="form-group">
            <select asp-for="FlightId" asp-items="Model.Flights" required onchange="CalculatePrice()"><option value="">Select a flight</option></select>
        </div>
        <label asp-for="Quantity"></label>
        <div class="form-group">
            <input type="number" asp-for="Quantity" required min="1" value="1" />
        </div>
        <label asp-for="Price"></label>
        <div class="form-group">
            <input type="number" asp-for="Price" required min="0" /> Miles
        </div>
        <button type="submit" class="btn btn-outline-success">Create</button>
    </form>
</div>