@model MilesBackOffice.Web.Models.PremiumOfferViewModel

<div id="newTicket">
    <div><h2>New Premium Ticket</h2></div>
    <form method="post" asp-action="CreateOffer" id="form_ticket">
        <input type="hidden" asp-for="Type" />
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" required name="title" />
        </div>
        <div class="form-group">
            <label>Flight Company</label>
            <select asp-for="PartnerId" required asp-items="Model.PartnersList" id="PartnerId"></select>
        </div>
        <div class="form-group">
            <label asp-for="FlightId"></label>
            <select asp-for="FlightId" asp-items="Model.Flights" required><option value="">Select a flight</option></select>
        </div>
        <div class="form-group">
            <label asp-for="Quantity"></label>
            <input type="number" asp-for="Quantity" required min="1" value="1" />
        </div>
        <div class="form-group">
            <label asp-for="Price"></label>
            <input type="number" asp-for="Price" required min="0" />
        </div>
        <button type="submit" class="btn btn-outline-success">Create</button>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script type="text/javascript">
            $(document).ready(function () {
                $("#PartnerId").change(function () {
                    $("#FlightId").empty();
                    debugger;
                    $.ajax({
                        type: "POST",
                        url: "/User/GetFlights",
                        data: { partnerId: $("#PartnerId").val() },
                        dataType: "json",
                        success: function (result) {
                            $.each(result, function (i, flight) {
                                $("#FlightId").append('<option value="'
                                    + flight.id + '">'
                                    + flight.Origin + "->" + flight.destination
                                    + " " + flight.departureDate
                                    + '</option>');
                            });
                        },
                        error: function (err) {
                            console.log(err);
                        }
                    });
                });
            });
        </script>*@
}


