@model MilesBackOffice.Web.Models.PremiumOfferViewModel

<h4>Edit Item#@Model.Id</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" required type="text" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" required type="text"/>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>

            @if (Model.PartnerId != 0)
            {
                <div class="form-group">
                    <label asp-for="PartnerId" class="control-label"></label>
                    <input asp-for="PartnerId" class="form-control" required />
                    <span asp-validation-for="PartnerId" class="text-danger"></span>
                </div>
            }

            @if (Model.FlightId != 0)
            {
                <div class="form-group">
                    <label asp-for="FlightId" class="control-label"></label>
                    <input asp-for="FlightId" class="form-control" required />
                    <span asp-validation-for="FlightId" class="text-danger"></span>
                </div>
            }

            @if (!string.IsNullOrEmpty(Model.Conditions))
            {
                <div class="form-group">
                    <label asp-for="Conditions" class="control-label"></label>
                    <input asp-for="Conditions" class="form-control" required />
                    <span asp-validation-for="Conditions" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                <input asp-for="Quantity" class="form-control" required min="1" type="number" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" required min="0" type="number"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>