@model MilesBackOffice.Web.Models.AdvertisingViewModel


<h4>Publish</h4>
<hr />
<div class="col-12">

    <form asp-action="PublishPost" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Image" />

        <div class="pull-right">
            <img id="imgprw" alt="Image" width="150" height="150" />
        </div>

        <div class="form-group">
            <label asp-for="ImageFile" class="control-label"></label>
            <input asp-for="ImageFile" type="file" class="form-control" onchange="imagePreview(this)" />
            <span asp-validation-for="ImageFile" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="PartnerId" class="control-label"></label>
            <select type="text" asp-for="PartnerId" asp-items="Model.PartnersList" required><option value="">Select a Partner</option></select>
            <span asp-validation-for="PartnerId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Title" class="control-label"></label>
            <input asp-for="Title" class="form-control" required />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" class="form-control" required cols="10"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>



        <input type="submit" value="Create" class="btn btn-success" />
    </form>
</div>