@model MilesBackOffice.Web.Models.User.NewsViewModel

@{
    ViewData["Title"] = "Miles News";
}


<div>
    <h2>Publicity & News</h2>
</div>

<div class="news_cards">
    
    @foreach (var item in Model.Newspaper)
        {
            <div class="news_card">
                <header>
                    @Html.DisplayFor(news => item.Title)
                </header>
                <div>
                    <div>
                    </div>
                    <p>
                        @Html.DisplayFor(news => item.Body)
                    </p>
                </div>
            </div>
        }
</div>

<div>
    <button id="btn_publishNews" action="PublishPost">New Headline</button>
</div>

<div id="form_container">
    
</div>

<script type="text/javascript">
    window.addEventListener('load', function () {
        byID('btn_publishNews').addEventListener('click', openPartialCreate);
    });
</script>
