@model IEnumerable<MilesBackOffice.Web.Models.Admin.NotifyAdminViewModel>

<div class="content-header">
    <div class="container">
        <div class="row mb-2">
            <h2>User Requests</h2>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <table id="users" class="display table table-bordered table-striped index-table">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Request
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                if (item.SelectedRole != CinelAirMilesLibrary.Common.Enums.UserType.Client)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.SelectedRole)
                                        </td>
                                        <td>

                                        </td>
                                        <td>
                                            <a asp-action="SendResetPassEmail" asp-controller="Administrator" asp-route-id="@item.Id" class="btn btn-success">
                                                <i class="far fa-check-circle">Send Reset Email</i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}