@model MilesBackOffice.Web.Models.EditUserViewModel

@{ 
    ViewData["Title"] = "User Management";
}

<div id="main-content">
    <div class=" wrapper">
        <div class="agile-grid">
            <h2 class="w3ls_head">Edit User</h2>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                
                <div class="row">
                    <div class="col-lg-6">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" type="text" name="FirstName" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </section>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="PhoneNumber"></label>
                                <input type="tel" asp-for="PhoneNumber" name="PhoneNumber" pattern="\d{9}" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="Address"></label>
                                <input asp-for="Address" type="text" name="Address" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-4">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="DateOfBirth"></label>
                                <input asp-for="DateOfBirth" type="date" name="DateOfBirth" />
                                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="SelectedRole"></label>
                                <select asp-for="SelectedRole" asp-items="@Model.Roles"></select>
                                <span asp-validation-for="SelectedRole" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="CountryId"></label>
                                <select asp-for="CountryId" asp-items="@Model.Countries"></select>
                                <span asp-validation-for="CountryId" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                    <div class="col-lg-3">
                        <section class="panel">
                            <div class="panel-body">
                                <label asp-for="CityId"></label>
                                <select asp-for="CityId" asp-items="@Model.Cities" class="form-control"></select>
                                <span asp-validation-for="CityId" class="text-danger"></span>
                            </div>
                        </section>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>

                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="ListUsers" class="btn btn-warning pull-right">
                    <i class="fa fa-backward"> Back</i>
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


