@model MilesBackOffice.Web.Models.RegisterNewViewModel

<section class="wrapper">
    <div class="form-w3layouts">
        <!-- page start-->
        <!-- page start-->
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        Basic Forms
                    </header>
                    <div class="panel-body">
                        <div class="position-center">
                            @using (Html.BeginForm("Register", "Administrator", FormMethod.Post, new { @autocomplete = "on" }))
                            {
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="SelectedRole" class="control-label"></label>
                                                <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control"></select>
                                                <span asp-validation-for="SelectedRole" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Name">Full Name</label>
                                                <input asp-for="Name" class="form-control" />
                                                <span asp-validation-for="Name" class="text-warning"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Username">Username</label>
                                                <input asp-for="Username" class="form-control" />
                                                <span asp-validation-for="Username" class="text-warning"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="Address">Address</label>
                                                <input asp-for="Address" class="form-control" />
                                                <span asp-validation-for="Address" class="text-warning"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CityId" class="control-label"></label>
                                                <select asp-for="CityId" asp-items="Model.Cities" class="form-control"></select>
                                                <span asp-validation-for="CityId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputFile"></label>
                                                <input type="file" id="exampleInputFile">
                                                <p class="help-block"></p>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Register New User" class="btn btn-success" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label asp-for="EmailAddress">Email Address</label>
                                                <input asp-for="EmailAddress" class="form-control" />
                                                <span asp-validation-for="EmailAddress" class="text-warning"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="DateOfBirth">Date of Birth</label>
                                                <input asp-for="DateOfBirth" class="form-control" />
                                                <span asp-validation-for="DateOfBirth" class="text-warning"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="CountryId" class="control-label"></label>
                                                <select asp-for="CountryId" asp-items="Model.Countries" class="form-control"></select>
                                                <span asp-validation-for="CountryId" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber">Phone Number</label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#CityId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCitiesAsync")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (cities) {
                        debugger;
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}