@model MilesBackOffice.Web.Models.Admin.RegisterUserViewModel


<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Register User</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <!-- Content Header (Page header) -->
                        @using (Html.BeginForm("Register", "Administrator", FormMethod.Post, new { @autocomplete = "on" }))
                        {
                            @Html.ValidationSummary(false)
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="SelectedRole" class="control-label"></label>
                                            <select asp-for="SelectedRole" asp-items="Model.Roles" class="form-control"></select>
                                            <span asp-validation-for="SelectedRole" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Name">Full Name</label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Username">Username</label>
                                            <input asp-for="Username" class="form-control" />
                                            <span asp-validation-for="Username" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Address">Address</label>
                                            <input asp-for="Address" class="form-control" />
                                            <span asp-validation-for="Address" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="City">City</label>
                                            <input asp-for="City" class="form-control" />
                                            <span asp-validation-for="City" class="text-warning"></span>
                                        </div>
                                        <br />
                                        <div class="form-group">
                                            <input type="submit" value="Register New User" class="btn btn-success" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="EmailAddress">Email Address</label>
                                            <input asp-for="EmailAddress" class="form-control" />
                                            <span asp-validation-for="EmailAddress" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="DateOfBirth">Date of Birth</label>
                                            <input asp-for="DateOfBirth" class="form-control" />
                                            <span asp-validation-for="DateOfBirth" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CountryId" class="control-label"></label>
                                            <select asp-for="CountryId" asp-items="Model.Countries" class="form-control"></select>
                                            <span asp-validation-for="CountryId" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="PhoneNumber">Phone Number</label>
                                            <input asp-for="PhoneNumber" class="form-control" />
                                            <span asp-validation-for="PhoneNumber" class="text-warning"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Status" class="control-label"></label>
                                            <select asp-for="Status" asp-items="Model.StatusList" class="form-control"></select>
                                            <span asp-validation-for="Status" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}



    <script src="~/~/plugins/moment/moment.min.js"></script>
    <script src="~/~/plugins/inputmask/jquery.inputmask.min.js"></script>
    <!-- date-range-picker -->
    <script src="~/~/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- jQuery -->
    <script src="~/~/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Bootstrap4 Duallistbox -->
    <script src=".~/~/plugins/bootstrap4-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/~/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- DataTables -->
    <script src="~/~/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/~/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/~/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/~/dist/js/demo.js"></script>



    <script type="text/javascript">
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $("#CityId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetCitiesAsync")',
                    dataType: 'json',
                    data: { countryId: $("#CountryId").val() },
                    success: function (cities) {
                        debugger;
                        $("#CityId").append('<option value="0">(Select a city...)</option>');
                        $.each(cities, function (i, city) {
                            $("#CityId").append('<option value="'
                                + city.id + '">'
                                + city.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve cities.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
