@{
    ViewData["Title"] = "Home Page";
}

<section id="home">
    <!-- FEATURE -->
    <partial name="_Feature" />

    <!-- ABOUT -->
    <partial name="_About" />

    <!-- TEAM -->
    <partial name="_Team" />

    <!-- Courses -->
    <partial name="_Courses" />

    <!-- TESTIMONIAL -->
    <partial name="_Testemonials" />

    <!-- CONTACT -->
    <partial name="_Contact" />

</section>







