@*@model CinelAirMiles.Models.HomeViewModel*@

@{
    ViewData["Title"] = "Home Page";
}

<section id="home">
    <section id="feature">
    </section>

    <!-- ABOUT -->
    <partial name="_About" />

    <!-- TEAM -->
    <partial name="_Team" />

    <!-- Courses -->
    <partial name="_Courses" />

    <!-- TESTIMONIAL -->
    <partial name="_Testemonials" />

    <!-- CONTACT -->
    <partial name="_Contact" />

</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        window.addEventListener("load", function () {
            $("#feature").load("/Home/GetAdvertising");


            //new Splide('#myCarousel', {
            //    type: 'loop',
            //    perPage: 3,
            //    autoplay: true,
            //}).mount();
        });
        
    </script>
}