
.hidden{
    display: none;
}

.content-wrapper{
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.main-footer{
    position: relative;
}


.news_cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(33%, auto));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.news_card {
    border: 2px solid #e7e7e7;
    border-radius: 4px;
    padding: .5rem;
    cursor: pointer;
}


