@model CinelAirMiles.Models.RecoverPasswordViewModel


<section class="center">
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div id="login" class="animate form" style="text-align:center">

                                @using (Html.BeginForm("ClientRecoverPassword", "Account", FormMethod.Post, new { @autocomplete = "on" }))

                                {
                                    @Html.AntiForgeryToken()

                                    <h2>Recover your password</h2>
                                    <div>@Html.ValidationSummary(true, "", new { @style = "color: white" })</div>
                                    <br />
                                    <p>
                                        <label for="GuidId" class="uname" data-icon="u"><span>Enter your client Id</span></label>
                                        @Html.TextBoxFor(l => l.GuidId, new { @placeholder = "Client Id" })
                                    </p>
                                    <p class="login button">
                                        <input type="submit" value="RecoverPassword" />
                                    </p>
                                    <p class="login button">
                                        <a href="/" class="to_register">
                                            <span>Back Home</span>
                                        </a>
                                    </p>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}