@model CinelAirMiles.Models.RecoverPasswordViewModel


@{
    Layout = null;
}



<!doctype html>
<html>
<head>
    <title>CinelAir Miles - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Majestic Login Form Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- font files -->
    <link href='//fonts.googleapis.com/css?family=Muli:400,300,300italic,400italic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Comfortaa:400,300,700' rel='stylesheet' type='text/css'>
    <!-- /font files -->
    <!-- css files -->
    <link href="~/login/css/animate-custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/login/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- /css files -->
</head>
<body>
    <h1 class="w3ls">Welcome back!</h1>
    <div id="container_demo">
        <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
        <a class="hiddenanchor" id="toregister"></a>
        <a class="hiddenanchor" id="tologin"></a>
        <div id="wrapper">
            <div id="login" class="animate form">

                @using (Html.BeginForm("ClientRecoverPassword", "Account", FormMethod.Post, new { @autocomplete = "on" }))

                {
                    @Html.AntiForgeryToken()

                    <h2>Recover your password</h2>
                    <div>@Html.ValidationSummary(true, "", new { @style = "color: white" })</div>
                    <br />
                    <p>
                        <label for="Email" class="uname" data-icon="u"><span>Enter your e-mail</span></label>
                        @Html.TextBoxFor(l => l.Email, new { @placeholder = "E-mail" })
                    </p>
                    <p class="login button">
                        <input type="submit" value="RecoverPassword" />
                    </p>
                    <p class="login button">
                        <a href="/" class="to_register">
                            <span>Back Home</span>
                        </a>
                    </p>
                }

            </div>
        </div>
    </div>
    <p class="agileits">© 2016 Majestic Login Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">w3layouts</a></p>
</body>
</html>

