<section class="content">
    <div class="container">
        <h1>Thank you for registering.</h1>
        <div class="container-fluid">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="panel-body">
                        <div class="col-12">
                            @using (Html.BeginForm("ConfirmEmail", "Account", FormMethod.Post, new { @autocomplete = "on" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="card-body">
                                    <div class="form-group">
                                        <h4>We need you to confirm the email you just subscrived with. Please check your inbox.</h4><br />
                                        <h3>After that our administrators must confirm your account before you can access our offers.</h3><br />
                                        <h4>Thank you for choosing Cinel Air!</h4>
                                    </div>
                                </div>
                            }
                        </div>
                        <a asp-action="IndexClient" asp-controller="Home"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}