
<section class="content">
    <div class="container">
        <h2>E-mail confirmed!</h2>
        <div class="container-fluid">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="panel-body">
                        <div class="col-12">
                            @using (Html.BeginForm("ConfirmEmail", "Account", FormMethod.Post, new { @autocomplete = "on" }))
                            {
                                @Html.AntiForgeryToken()

                                <div class="card-body">
                                    <div class="form-group">
                                        <label>You can now log in into your account.</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}