@model CinelAirMiles.Models.ResetPasswordViewModel


<section class="content">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Change Password</h3>

            </div>
            <!-- Content Header (Page header) -->


            @using (Html.BeginForm("ResetPasswordClient", "Account", FormMethod.Post, new { @autocomplete = "on" }))
            {
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-md-4 offset-md-4">
                        <form method="post">
                            <div asp-validation-summary="All"></div>
                            <input type="hidden" asp-for="Token" />

                            <div class="form-group">
                                <label asp-for="Email">Email</label>
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">New password</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="ConfirmPassword">Confirm</label>
                                <input asp-for="ConfirmPassword" type="password" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Reset password" class="btn btn-info" />
                            </div>
                        </form>
                    </div>
                </div>
            }
        </div>
    </div>

</section>