@model CinelAirMiles.Models.TransactionViewModel


<div class="container">
    <h2>Convert Miles</h2>
    <div>
        <h5>Bonus Miles: @Html.DisplayFor(item => item.StartBalance)</h5>
    </div>
    <form method="post" asp-action="ConvertMiles" id="convert">
        <label>Miles to convert</label>
        <div class="form-group">
            <select asp-for="Value" asp-items="Model.Values" name="value" required min="2000" onchange="calculatePrice()"><option value="">Select a value..</option></select>
            <span asp-validation-for="Value"></span>
        </div>
        <label>Cost of Operation</label>
        <div class="form-group" >
            <input type="number" asp-for="Price" name="Price" readonly id="calc"/>€
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Convert</button>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#convert").on("submit", function () {
        event.preventDefault();
        console.log("aqui estou eu");
        $.ajax({
            type: this.method,
            url: this.action,
            dataType: "json",
            data: $(this).serialize(),
            success: function (result) {
                if (!!$("#error")) {
                    $("#card_container").append("<div id='error' class='container'></div>");
                }
                $("#error").empty();
                $("#error").html("<h4>" + result + "</h4>");
                console.log(result);
            },
            error: function (err) {
                console.log(err);
            }
        })
    })
</script>