@model CinelAirMiles.Models.TransactionViewModel


<div class="container">
    <h2>Nominate to Gold</h2>
    <form method="post" asp-action="NominateToGold">
        <input type="hidden" asp-for="Type" />
        <label asp-for="TransferTo">Client Id you want to nomeate</label>
        <div class="form-group">
            <input type="number" asp-for="TransferTo" name="value" required />
            <span asp-validation-for="TransferTo"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Nomenate</button>
        </div>
    </form>
</div>
