@model CinelAirMiles.Models.NominateViewModel


<div class="container">
    <h2>Nominate to Gold</h2>
    <form method="post" asp-action="NominateToGold">
        @if (Model.CheckTier)
        {
            <label asp-for="NomineeID">Client Id you want to nomeate</label>
            <div class="form-group">
                <input type="number" asp-for="NomineeID" name="value" required />
                <span asp-validation-for="NomineeID"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-success">Confirm</button>
            </div>
        }
        else
        {
            <div><h3>Your Status does not allow this operation.</h3></div>
        }
    </form>
</div>
