@model CinelAirMiles.Models.TransactionViewModel


<div class="container">
    <h2>Purchase Miles</h2>
    <form method="post" asp-action="Purchase">
        <input type="hidden" asp-for="Type" />
        <label asp-for="Value"></label>
        <div class="form-group">
            <select asp-for="Value" asp-items="Model.Values" name="value" required><option value="">Select a value..</option></select>
            <span asp-validation-for="Value"></span>
        </div>
        <label asp-for="Price"></label>
        <div class="form-group">
            <input type="number" asp-for="Price" name="price" readonly />
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Purchase</button>
        </div>
    </form>
</div>
