@model CinelAirMiles.Models.TransactionViewModel


<div class="container">
    <h2>New Transfer</h2>
    <form method="post" asp-action="TranferMiles" asp-controller="ClientArea">
        <input type="hidden" asp-for="Type" />
        <label>Client Id you want to transfer to</label>
        <div class="form-group">
            <input type="number" asp-for="TransferTo.GuidId" name="value" required />
        </div>
        <label asp-for="Value"></label>
        <div class="form-group">
            <select asp-for="Value" asp-items="Model.Values" name="value" required onchange="calculatePrice()"><option value="">Select a value..</option></select>
            <span asp-validation-for="Value"></span>
        </div>
        <label asp-for="Price"></label>
        <div class="form-group">
            <input type="number" asp-for="Price" name="price" readonly id="price"/>€
            <span asp-validation-for="Price"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-outline-success">Transfer</button>
        </div>
    </form>
</div>
