
    <div class="container">
        <div class="collapse navbar-collapse">
        </div>
        <div class="container">
            <div class="navbar-header">
                <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="ClientArea" asp-action="UpdateClientInfo" class="smoothScroll">My Profile</a></li>

                    <li><a asp-controller="Reservation" asp-action="ReservationIndex" class="smoothScroll">My Reservations</a></li>

                    <li><a asp-controller="Complaint" asp-action="ComplaintsIndex" class="smoothScroll">My Messages</a></li>

                    <li><a asp-controller="ClientArea" asp-action="DigitalCard" class="smoothScroll">My Miles Cinel Card</a></li>
                </ul>

            </div>
        </div>
    </div>
