
<div class="container">
    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li><a asp-controller="ClientArea" asp-action="AccountManager" class="btn">My Profile</a></li>

            <li><a controller="ClientArea" action="ReservationIndex" class="btn">My Reservations</a></li>

            <li><a controller="ClientArea" action="ComplaintsIndex" class="btn">My Messages</a></li>

            <li><a controller="ClientArea" action="NominateToGold" class="btn">Nominate Gold</a></li>

            <li><a controller="ClientArea" action="TransactionIndex" class="btn">My Transactions</a></li>
        </ul>
        <div class="nav navbar-nav dropdown">
            <a class="btn dropdown-toggle" data-toggle="dropdown">
                Miles Shop
                <span class="caret"></span>
            </a>

            <ul class="dropdown-menu">
                <li><a controller="ClientArea" action="Purchase" class="btn">Purchase Miles</a></li>

                <li><a controller="ClientArea" action="ConvertMiles" class="btn">Convert Miles</a></li>

                @*<li><a controller="ClientArea" action="ExtendMiles" class="btn">Extend Period</a></li>*@

                <li><a controller="ClientArea" action="TransferMiles" class="btn">Transfer Miles</a></li>
            </ul>
        </div>
    </div>
</div>
<section id="card_container">
    <div class="container" id="error"></div>
</section>
<section id="area_container">
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#area_container").load("/ClientArea/UpdateClientInfo");
            $("#card_container").load("/ClientArea/DigitalCard");

            $("a").on("click", function () {
                action = this.getAttribute("action");
                controller = this.getAttribute("controller");
                if (!action || !controller) {
                    return;
                }
                $("#area_container").empty();
                $("#card_container").load('/' + controller + '/' + action);
            })

            //$("#purchase").on("submit", function () {
            //    event.preventDefault();
            //    console.log("aqui estou eu");
            //    $.ajax({
            //        type: this.method,
            //        url: this.action,
            //        dataType: "json",
            //        data: $(this).serialize(),
            //        success: function (result) {
            //            $("#area_container").html("<h4>"+{result}+"</h4>");
            //        },
            //        error: function (err) {
            //            console.log(err);
            //        }
            //    })
            //})

        })
    </script>
}