@*@model CinelAirMiles.Models.HomeViewModel*@
@{
    ViewData["Title"] = "About";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <div class="about-info">
                    <h2>Start your journey to a better life with CinelAir Miles!</h2>

                    <figure>
                        <span><i class="fa fa-plane"></i></span>
                        <figcaption>
                            <h3>Professional Trainers</h3>
                            <p>
                                In recent years CinelAir Miles has consolidated its repositioning in some of its main markets,
                                particularly in Africa and North and South America. It is the leading Portuguese
                                miles program in Portugal and Brazil, and has made a strong commitment to connections
                                with the United States and Canada.
                            </p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-certificate"></i></span>
                        <figcaption>
                            <h3>International Certifications</h3>
                            <p>CinelAir Miles has received several awards. In 2018, we were named the best company to work 
                            for in Portugal, and again received three World Travel Awards: Europe’s Leading Airline to Africa, 
                            Europe’s Leading Airline to South America and Europe’s Leading Inflight Magazine.</p>
                        </figcaption>
                    </figure>

                    <figure>
                        <span><i class="fa fa-tree"></i></span>
                        <figcaption>
                            <h3>Sustainability</h3>
                            <p>
                                Theses efforts have included ensuring sustainable growth by 
                                adapting to the changes in each market as a whole while increasing traffic 
                                values and occupation rates.
                            </p>
                        </figcaption>
                    </figure>
                </div>
            </div>

            <div class="col-md-offset-1 col-md-4 col-sm-12">
                <div class="entry-form">
                    <form asp-action="RegisterClient" asp-controller="Account" method="get">
                        <h2>Signup today</h2>
                        @*<input asp-for="Name" type="text" name="full name" class="form-control" placeholder="Full name" required="">

                        <input asp-for="EmailAddress" type="email" name="email" class="form-control" placeholder="Your email address" required="">*@

                        <button class="submit-btn form-control" id="form-submit">Get Start</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>