@model IEnumerable<CinelAirMiles.Models.PremiumOfferViewModel>


<section id="team">

    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>Premium Offers<small>See what you can enjoy with our premium offers</small></h2>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="team-thumb">
                        <div>
                            <a href="/shop/premiumdetails/@item.Id">
                                <h5>@item.Title</h5>
                            </a>
                        </div>
                        <div class="team-image">
                            <a href="/shop/premiumdetails/@item.Id">
                                <img style="max-width:300px; max-height:300px" src='@Url.Action("GetOffersImageFile", "Home", new { id = item.Id})' />
                            </a>
                        </div>
                        <div class="team-info">
                            <p>
                                @Html.DisplayFor(modelItem => item.Conditions)
                            </p>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
</section>


