


<h2>Convert Bonus to Status Miles</h2>
<div>
    <form>

        <div>
            <label>Bonus Miles Balance</label>
            <p>100.000</p>
        </div>
        <div>
            <label>Total Miles to Convert(máx 2000/unit)</label>
            <input type="number" required />
        </div>

        <div>
            <label>Amount to Pay (€)</label>
            <input type="number" required />
        </div>

        <div>
            <label>Transaction Details</label>
            This conversion has a cost of 0,05€ for mile!
        </div>
        <button type="submit" value="Confirm"></button>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}