

<h2>Miles Index</h2>
<div>
    <div>
        <h3>Bonus Miles</h3>
        <label>Total = </label>
        <input type="number" readonly value="100000"/>
        <label>Expiring Miles</label>
        <input type="number" readonly value="4000"/>
        <p>Expiring on: 25-Dec-2020</p>
    </div>
    <hr />
    <div>
        <h3>Status Miles</h3><h2>Gold</h2>
        <label>Total = </label>
        <input type="number" readonly value="82500" />
        <label>Season:</label>
        <label>Oct-2020  Oct-2021</label>
    </div>
</div>