

<h2>Appoint Client to Gold Status</h2>
<div>
    <form>
        <div>
            <label>Appointed Client Email:</label>
            <input type="email" required />
        </div>

        <div>
            <label>CinelAir Client Number:</label>
            <input type="text" required />
        </div>
        <button type="submit" value="Confirm"></button>
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}